#container_historia,
#container_estrutura,
#container_plano_horario,
#container_contato {
    scroll-margin-top: 6.1rem;
}

h1 {
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 1.75rem;
}

.imagem_historia {
    height: 20rem;
}

.texto {
    margin: 0rem 2.5rem;
}

.texto p{
    margin-bottom: 1.2rem;
}

#container_historia {
    height: 85vh;
    padding-top: 7rem;
}

#container_historia img {
    float: right;
}

#container_estrutura{
    height: 85vh;
}

.carrossel .imagem {
    height: 27rem;
}

.carrossel{
    margin-top: 1rem;
    height: 28rem;
    width: 100%;
    position: absolute;
    background-color: rgb(36, 34, 34);
    border: .25rem solid black;
}

.imagem.ativo{  
    opacity: 100;
    transition: opacity 2s ease;
}

.imagem{
    margin: .5rem 22.5%;
    position: absolute;
    z-index: 999;
    opacity: 0;
}


#butoes{
    display: flex;
    position: absolute;
    gap: 42.75rem;
    margin: 12.5rem 20rem;
    z-index: 999;
}

#butoes button{
    cursor: pointer;
    padding: .75rem;
    background-color: rgb(36, 34, 34);
    color: aliceblue;
    font-size: 2rem;
}

#container_plano_horario{
    height: 85vh;
}

.caixas{
    margin: 2rem;
}

.caixas_list{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.caixas_item{
    color: antiquewhite;
    background-color: rgb(36, 34, 34);
    border-radius: 2rem;
    border: .25rem solid black;
}

.caixas_item h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.caixas_item h3{
    font-size: 1.5rem;
}

.caixas_item p {
    margin: .25rem 0rem;
}

.caixa-header{
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
    color: black;
    background-color: antiquewhite;
    border-bottom: 0.25rem solid #000000; 
}

.caixa-body{
    padding: 2rem;
}

.vantagem_item{
    padding-left: 1.25rem;
}

#container_contato{
    padding-top: 2rem;
    background-color: rgb(36, 34, 34);
    color: antiquewhite;
    height: 55vh;
}

#container_contato .texto{
    margin-bottom: 1rem;
}

@media (max-width: 1024px) {
    #container_historia {
        height: 155vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
    }

    #container_estrutura{
        height: 95vh;
    }
    
    #container_plano_horario{
        height: 120vh;
    }

    #container_historia img {
        float: none;
    }

    #container_estrutura img{
    height: 55vh;
    
    }

    .imagem.ativo{  
    opacity: 100;
    transition: opacity 2s ease;
    }

    .imagem{
        margin: 2rem 0rem;
        position: absolute;
        z-index: 999;
        opacity: 0;
    }

    #butoes{
    display: flex;
    position: absolute;
    gap: 36.75rem;
    margin: 12.5rem 1rem;
    z-index: 999;
    }

    #butoes button{
        font-size: 1rem;
    }

    .carrossel{
    width: 98.9%;
    }
}